@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: rgba(176, 70, 241, 1);
  --lightAccent: rgba(176, 70, 241, 0.2);
  --lightDark: rgba(176, 70, 241, 0.1);
  --borderAccent: rgba(176, 70, 241, 0.4);
  --cta: rgba(196, 117, 245, 1);
  --primary: rgba(3, 0, 27, 1);
  --lightPrimary: rgba(3, 0, 27, 0.8);
}

body {
  color: #fff;
  background: var(--primary);
  font-family: 'Bai Jamjuree', sans-serif;
}

p b {
  color: var(--accent);
}
